In [38]:
import pandas as pd
class Method:
    
    

    # linear Cograential Generator[LGG]
    def LGG( a=6, m=100, c=37, x=25, n_random=6):
        Xn = []; Rn = []
        Xn.append(x); Rn.append(x/m)
        for i in range(n_random):
            x=(a*x+c)%m
            Xn.append(x)
            Rn.append(x/m)
        out = pd.DataFrame(data=Xn ,columns=['Xn'])
        out['Rn'] = Rn
        return out

    # multiplication Can  Generator[MGG]
    def MGG(x=25, a=6, m=127, n_random=6):
        Xn = []; Rn = []
        Xn.append(x); Rn.append(x/m)
        for i in range(n_random):
            x=(a*x)%m
            Xn.append(x)
            Rn.append(x/m)
        out = pd.DataFrame(data=Xn ,columns=['Xn'])
        out['Rn'] = Rn
        return out

    # mid square method
    def MSM(x=7612, m=10000, n_random=6):
        Xn = []; XnS = []; Rn = []; sq = x*x; div = x/m
        Xn.append(x); XnS.append(sq); Rn.append(div)
        if(len(str(x))>3):
            for i in range(n_random):
                size = len(str(x)); sq = str(sq); s = sq.split()
                size = len(str(sq)); size = int(size/2); 
                left = s[0][:size]; right =s[0][size:]
                orig = len(str(x)); div_orig = int(orig/2)
                num = left[div_orig:]+right[:div_orig]
                x = int(num); Xn.append(x); sq = x*x
                XnS.append(sq); div = x/m; Rn.append(div)
            out = pd.DataFrame(data=Xn ,columns=['Xn'])
            out['X_square'] = XnS
            out['Rn'] = Rn
            return out 
        else:
            print('something wrong!')

In [42]:
Method.LGG()

   Xn    Rn
0  25  0.25
1  87  0.87
2  59  0.59
3  91  0.91
4  83  0.83
5  35  0.35
6  47  0.47

In [43]:
Method.MGG()

   Xn        Rn
0  25  0.196850
1  23  0.181102
2  11  0.086614
3  66  0.519685
4  15  0.118110
5  90  0.708661
6  32  0.251969

In [45]:
Method.MSM()

     Xn  X_square      Rn
0  7612  57942544  0.7612
1  9425  88830625  0.9425
2  8306  68989636  0.8306
3  9896  97930816  0.9896
4  9308  86638864  0.9308
5  6388  40806544  0.6388
6  8065  65044225  0.8065